.App {
  text-align: left;

}
body{overflow:auto;background-color: #efefef;}


.App-header {
  background-color: #dfdfdf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.searchPanel{
  display: flex;
  height: 80vh;
  max-width: 500px;
  flex-direction: column;
  padding:20px;
  background-color: #fff;
  margin: 40px auto;
  overflow-y: auto;
  input{
    margin-bottom:20px;
    background-color: #efefef;
    border: 2px solid rgb(192, 192, 192);
    padding:20px;
    border-radius: 2px;
  }
  button{
    padding:20px 20px;
    background-color: #2d9cdb;
    color:white;
    border:0px;
    border-radius: 2px;
  }
  .userName{color:#5e5e5e; padding:10px 0;}
  .tabHead{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background: #dfdfdf;
    padding: 10px 20px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  .tabContent{
    padding: 10px 10px;
    background: #d2d1d1;
    margin: 0 0 2px 20px;
  }
  .star{
    span{
      font-size:20px
    }
  }
  .arrowDown{
    transform: rotate(-90deg);
  }
  .repTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    }
  .repDescription{
    font-size: 14px;
    padding-top: 5px;
  }
  details{
    max-height: 44vh;
    overflow-y: auto;
  }
  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
}
  details > summary::before {
      content: '\276F';
      transform: rotate(90deg);
  }
  details[open] > summary::before {
      content: '\276F';
      transform: rotate(270deg);
  }
  .loading{
    text-align: center;
    font-size: 30px;
    animation: customSpin 1s ease-in-out infinite;
  }
  .noData{
    text-align: center;
    display: block;
    margin: auto;
  }
}
@keyframes customSpin{
  from{
    transform: rotate(0deg)
  }
  to{transform: rotate(180deg)}
}